.cardsContainer{
    display: flex;
    width: 100%;
    background: rgb(104, 133, 133);
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 2rem;

    .cardBody{
        display: inherit;
        flex-direction: column;
        justify-content: space-between;
    }

    .marvelImg{
        aspect-ratio: 9/13.5;
        object-fit: contain;
    }
    .authors{
        text-transform: capitalize;
        list-style: none;
    }
}